<div class="container-fluid webex-manager-cls">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img class="logo-cls" src="../../assets/images/abbott_logo.jpg" alt="" width="30" height="24">
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Webex Meeting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ebook">E-book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ebook-elasticsearch">E-book(Elasticsearch)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Upcoming</a>
      </li>
      <li class="nav-item">
        <img class="user-logo-cls" src="../../assets/images/user_logo.png" alt="" width="30" height="24">
      </li>
    </ul>
  </div>

</nav>
<router-outlet></router-outlet>
</div>
